.github/copilot-instructions.md
virtualbox/.vagrant/bundler/global.sol
virtualbox/.vagrant/machines/controlplane/virtualbox/action_cloud_init
virtualbox/.vagrant/machines/controlplane/virtualbox/action_provision
virtualbox/.vagrant/machines/controlplane/virtualbox/action_set_name
virtualbox/.vagrant/machines/controlplane/virtualbox/box_meta
virtualbox/.vagrant/machines/controlplane/virtualbox/creator_uid
virtualbox/.vagrant/machines/controlplane/virtualbox/disk_meta
virtualbox/.vagrant/machines/controlplane/virtualbox/id
virtualbox/.vagrant/machines/controlplane/virtualbox/index_uuid
virtualbox/.vagrant/machines/controlplane/virtualbox/private_key
virtualbox/.vagrant/machines/controlplane/virtualbox/synced_folders
virtualbox/.vagrant/machines/controlplane/virtualbox/vagrant_cwd
virtualbox/.vagrant/machines/node01/virtualbox/action_cloud_init
virtualbox/.vagrant/machines/node01/virtualbox/action_provision
virtualbox/.vagrant/machines/node01/virtualbox/action_set_name
virtualbox/.vagrant/machines/node01/virtualbox/box_meta
virtualbox/.vagrant/machines/node01/virtualbox/creator_uid
virtualbox/.vagrant/machines/node01/virtualbox/disk_meta
virtualbox/.vagrant/machines/node01/virtualbox/id
virtualbox/.vagrant/machines/node01/virtualbox/index_uuid
virtualbox/.vagrant/machines/node01/virtualbox/private_key
virtualbox/.vagrant/machines/node01/virtualbox/synced_folders
virtualbox/.vagrant/machines/node01/virtualbox/vagrant_cwd
virtualbox/.vagrant/machines/node02/virtualbox/action_cloud_init
virtualbox/.vagrant/machines/node02/virtualbox/action_provision
virtualbox/.vagrant/machines/node02/virtualbox/action_set_name
virtualbox/.vagrant/machines/node02/virtualbox/box_meta
virtualbox/.vagrant/machines/node02/virtualbox/creator_uid
virtualbox/.vagrant/machines/node02/virtualbox/disk_meta
virtualbox/.vagrant/machines/node02/virtualbox/id
virtualbox/.vagrant/machines/node02/virtualbox/index_uuid
virtualbox/.vagrant/machines/node02/virtualbox/private_key
virtualbox/.vagrant/machines/node02/virtualbox/synced_folders
virtualbox/.vagrant/machines/node02/virtualbox/vagrant_cwd
virtualbox/.vagrant/rgloader/loader.rb
